# Paths
PATH_TO_AIRCRAFT_JSON="/run/dump1090-fa/aircraft.json"

# Configuración de la DB.
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=dump1090
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword

# Datos para la API V2
API_URL=https://api.raupulus.dev/api/v2/airflight/aircrafts/batch
API_TOKEN=apitoken
DEVICE_ID=15
BATCH_SIZE=100

# Indica si está en modo debug la aplicación
DEBUG=false

